.info-main {
    padding: 0 160px;
}

.info-main-header {
    @include header-h1;
    width: 450px;
    padding: 0;
    margin: 0;
}

.info-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

.info-description {
    @include text2; 
    font-size: 24px;
    padding-bottom: 65px;
    margin-bottom: 0;
    width: 80%;
}

.info-description-more {
    width: 100%;
}

.info-bold {
    font-weight: bold;
}

.info-image {
    width: 20%;
    overflow: hidden;
    margin-top: 0;
}

.info-header {
    @include header-h2;
    color: #FF6F3C;
    text-align: center;
    margin: 21px 0 23px;
}

.info-question {
    @include header-h5;
    font-size: 28px;
    color: #FF6F3C;
}

.info-answer {
    @include text2;
    text-align: left;
    padding-bottom: 26px;
    margin: 0;
    position: relative;
}

@media screen and (max-width: 1335px) {
    .info-description {
        width: 60%;
    }

    .info-description-more {
        width: 100%;
    }
    
    .info-image {
        width: 40%;
    }
}

@media screen and (max-width: 1120px) {
    .info-main {
        padding: 0 40px;
    }

    .info-block {
        flex-direction: column;
    }

    .info-description {
        width: 100%;
    }
    
    .info-image {
        width: 50%;
    }
}

@media screen and (max-width: 540px) {
    .info-main {
        padding: 0 20px;
    }

    .info-description {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .info-image {
        width: 100%;
    }

    .info-question {
        font-size: 22px;
    }
    
    .info-answer {
        padding-bottom: 20px;
    }
}
