.main-section {
    background: linear-gradient(to bottom, #FCE2CF 0%, #FCE2CF 70%, #F7F2F2 70%, #F7F2F2 100%);
    position: relative;
    z-index: 1;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 9.5% 0 11%;
    position: relative;
}

.main-container {
    width: 50%;
    margin-top: 0;
    
}

.main-header h1{
    @include header-h1;
    font-size: 3.5vw;
    width: 90%;
    padding-bottom: 10px;
    margin: 0;
}

.main-header span {
    color: #FF6F3C;
}

.main-description {
    font-family: Oswald-Light, Arial, sans-serif;
    font-size: 24px;
    color: #3E3C3C;
    padding-bottom: 5%;
    width: 80%;
    margin: 0;
}

.main-button {
    font-family: Oswald-Medium, Arial, sans-serif;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #3E3C3C;
    text-decoration: none;
    padding: 12px 47px;
    background: #FF6F3C;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px rgba(255, 255, 255, 0.25);
    border-radius: 5px;
}

.earth {
    margin-top: 0;
    width: 55%;
    height: auto;
    position: relative;
    z-index: 1;
}

.earth-image {
    width: 100%;
}

.main-grass {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, #FCE2CF 0%, #F7F2F2 100%);
    margin-top: -13%;
    padding: 0;
}

@media screen and (max-width: 830px) and (min-width: 414px) {
    .main-description {
        font-size: 16px;
    }

    .main-button {
        display: none;
    }
}

@media screen and (max-width: 413px) {
    .main-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }

    .main-container {
        width: 100%;
    }

    .earth {
        width: 100%;
        height: auto;
    }

    .main-header {
        font-size: 36px;
        width: auto;
        padding: 0 20px;
    }

    .main-description {
        font-size: 14px;
        padding: 0 20px;
    }

    .main-button {
        display: none;
    }

    .main-grass {
        margin-top: -170px;
    }
}