#about-us {
    background: url('../assets/images/about-bottom.png') bottom repeat-x,
                linear-gradient(to bottom, #F7F2F2 0%, #F7F2F2 95%, #F4F4F4 100%) center;
    padding: 0 0 100px;
    margin: 0 auto 44px;
}

.about-us-header {
    @include header-h1;
    width: auto;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.about-wrapper {
    width: auto;
}

.about-experience {
    width: 780px;
    margin: 0 auto;
    font-family: Oswald-Light, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 140%;
    background: url('../assets/images/achievment-list.png') top no-repeat;
    background-size: 90%;
}

.about-children-mobile {
    display: none;
}

.about-container {
    width: 400px;
    padding: 230px 105px 80px 220px;
}

.about-experience-group {
    margin: 25px 0;
}

.about-experience-group span {
    color: #FF6F3C;
}

.experience-list {
    list-style: none;
    padding: 0;
}

.experience-item {
    padding: 0 0 16px 24px;
    position: relative;
}

.experience-item:last-child {
    padding-bottom: 6px;
    width: 270px;
}

.experience-item::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 10px;
    left: 0;
    background: #FF6F3C;
    border-radius: 50%;
}

.experience-item {
    margin: 0;
}

.about-achievements {
    width: auto;
    padding-top: 0;
}

.about-children {
    font-family: Oswald-Light, Arial, sans-serif;
    font-size: 24px;
    line-height: 140%;
    width: auto;
    padding: 0 160px;
    margin: 24px 0 0;
}

.about-children span {
    color: #FF6F3C;
}

.about-knowledge--mobile {
    display: none;
}

@media screen and (max-width: 1000px) and (min-width: 413px) {
    .about-children {
        padding: 0 50px;
    }
}

@media screen and (max-width: 799px) and (min-width: 470px) {
    .experience-item::before {
        top: 4px;
    }

    .about-experience-group {
        margin: 18px 0;
    }

    .about-container {
        width: 300px;
        padding: 230px 105px 100px 220px;
    }

    .about-experience {
        width: auto;
        font-size: 18px;
        background-size: 90%;
    }
}

@media screen and (max-width: 680px) and (min-width: 470px) {
    .about-container {
        width: 250px;
        padding: 200px 95px 100px 180px;
    }

    .about-experience-group {
        margin: 10px 0;
    }

    .about-experience {
        font-size: 16px;
        background-size: 90%;
    }
}

@media screen and (max-width: 600px) {
    #about-us {
        padding: 0 0 13%;
        margin-bottom: 0;
        background: url('../assets/images/about-bottom-mini.png') bottom repeat-x,
                linear-gradient(to bottom, #F7F2F2 0%, #F7F2F2 90%, #FCE2CF 91%, #FCE2CF 100%) center;
    }

    .about-us-header {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .about-wrapper {
        flex-direction: column;
        padding-bottom: 40px;
    }

    .about-experience {
        width: 100%;
        margin-top: -50px;
        font-size: 14px;
        background-size: 135% auto;
    }

    .about-container {
        width: 70%;
        padding: 47% 12% 13% 17%;
    }

    .about-children-mobile {
        display: block;
    }

    .about-children-mobile span {
        color: #FF6F3C;
    }

    .about-experience-group {
        margin: 8% 0 0;
    }

    .experience-list {
        list-style: none;
        padding: 0;
        width: 90%;
        padding-left: 10%;
    }

    .experience-item:last-child {
        width: 90%;
    }

    .experience-item::before {
        width: 5px;
        height: 5px;
        top: 7px;
    }
    
    .about-achievements {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .about-children {
        display: none;
    }

    .about-knowledge {
        margin-top: 25px;
    }

    .about-knowledge--mobile {
        display: block;
        font-family: Oswald-Light, Arial, sans-serif;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        width: 77%;
        margin: 0 auto;
    }
}