#about-us {
    background: url('../assets/images/about-bottom.png') bottom repeat-x,
                linear-gradient(to bottom, #F7F2F2 0%, #F7F2F2 95%, #F4F4F4 100%) center;
    padding: 0 11% 7%;
    margin-bottom: 44px;
}

.about-us-header {
    @include header-h1;
    width: 33%;
    margin: 0;
    margin-left: 67%;
    padding: 0;
}

.about-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
}

.about-experience {
    width: 55%;
    margin-top: -9%;
    font-family: Oswald-Light, Arial, sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
    line-height: 140%;
    background: url('../assets/images/achievment-list.png') top no-repeat;
    background-size: 100% auto;
}

.about-children-mobile {
    display: none;
}

.about-container {
    width: 51%;
    padding: 33% 17% 13% 31%;
}

.about-experience-group {
    margin: 8% 0;
}

.about-experience-group span {
    color: #FF6F3C;
}

.experience-list {
    list-style: none;
    padding: 0;
}

.experience-item {
    padding: 0 0 5% 7.5%;
    position: relative;
}

.experience-item:last-child {
    padding-bottom: 2%;
    width: 270px;
}

.experience-item::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 10px;
    left: 0;
    background: #FF6F3C;
    border-radius: 50%;
}

.experience-item {
    margin: 0;
}

.about-achievements {
    width: 33%;
    padding-top: 0;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-children {
    font-family: Oswald-Light, Arial, sans-serif;
    font-size: 24px;
    line-height: 140%;
    width: 100%;
    padding-bottom: 8.3%;
}

.about-children span {
    color: #FF6F3C;
}

.about-us-photo {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.15), -10px -10px 15px #FFFFFF;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.about-knowledge--mobile {
    display: none;
}

@media screen and (max-width: 1000px) and (min-width: 414px) {
    .about-us-header {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .about-wrapper {
        flex-direction: column;
    }

    .about-experience {
        width: 100%;
        margin-top: 0;
        font-size: 2vw;
    }
    
    .about-achievements {
        width: 100%;
    }
}

@media screen and (max-width: 413px) {
    #about-us {
        padding: 0 0 13%;
        margin-bottom: 0;
        background: url('../assets/images/about-bottom-mini.png') bottom repeat-x,
                linear-gradient(to bottom, #F7F2F2 0%, #F7F2F2 90%, #FCE2CF 91%, #FCE2CF 100%) center;
    }

    .about-us-header {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .about-wrapper {
        flex-direction: column;
        padding-bottom: 40px;
    }

    .about-experience {
        width: 100%;
        margin-top: -50px;
        font-size: 14px;
        background-size: 135% auto;
    }

    .about-container {
        width: 70%;
        padding: 47% 12% 13% 17%;
    }

    .about-children-mobile {
        display: block;
    }

    .about-children-mobile span {
        color: #FF6F3C;
    }

    .about-experience-group {
        margin: 8% 0 0;
    }

    .experience-list {
        list-style: none;
        padding: 0;
        width: 90%;
        padding-left: 10%;
    }

    .experience-item:last-child {
        width: 90%;
    }

    .about-knowledge {
        display: none;
    }

    .experience-item::before {
        width: 5px;
        height: 5px;
        top: 7px;
    }
    
    .about-achievements {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .about-children {
        display: none;
    }

    .about-knowledge--mobile {
        display: block;
        font-family: Oswald-Light, Arial, sans-serif;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        width: 77%;
        margin: 0 auto;
    }
}