#activities {
    background: url('../assets/images/children-background.png') top repeat-x,
                linear-gradient(360deg, #FFFFFF 5.25%, rgba(255, 255, 255, 0) 36%),
                url('../assets/images/activities.png') no-repeat;
    background-size: 100%;
}

.activities-header {
    margin: 0;
    padding: 109px 0 51px;
    @include header-h1;
    text-align: center;
}

.activities-header span {
    color: #FF6F3C;
}

.activities-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1190px;
    margin: 0 auto;
    padding: 0;
}

.activities-item {
    width: 29.4%;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 29.8%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 20px rgba(62, 60, 60, 0.15), -10px -10px 20px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    margin-bottom: 47px;
    color: #FFFFFF;
    position: relative;
}

.activities-content {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.activities-item h3 {
    @include header-h2;
    margin: 0;
    padding-top: 20px;
}

.activities-item--active {
    display: none;
}

.activities-item:nth-child(4) {
    width: 1190px;
    height: 0.3vw;  
}

.activities-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.activities-background-sport {
    background: url('../assets/images/sport.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.activities-background-motor {
    background: url('../assets/images/motor.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.activities-background-languages {
    background: url('../assets/images/languages.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.activities-background-preschool {
    background: url('../assets/images/preschool.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.activities-background-creative {
    background: url('../assets/images/creative.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.activities-background-music {
    background: url('../assets/images/music.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.activities-background-cooking {
    background: url('../assets/images/cooking.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.activities-item:hover {
    cursor: pointer;
}

.activities-item:hover .activities-background {
    filter: grayscale(100) blur(2px);
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}

.activities-item:hover .activities-item--active{
    display: block;
    position: absolute;
    width: 73%; 
    margin: 0 auto;
    @include text1;
    height: 100%;
}

.active-list {
    list-style-type: disc;
    text-align: left;
    padding: 20px 0 0 70px;
}

.active-item {
    padding-bottom: 12px;
}

.active-more {
    @include button;
    text-transform: uppercase;
    padding: 13px 58px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    position: absolute;
    bottom: 100px;
    left: 17%;
    width: 100%;
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
}

.activities-preschool-active {
    width: 46%;
    margin: 0 auto;

}

.activities-preschool-active .active-list {
    columns: 3;
    padding-left: 35%;
}

.activities-preschool-active .active-more {
    width: 260px;
    left: 50%;
}

@media screen and (max-width: 1270px) {
    .activities-list {
        width: 90%;
    }

    .active-list {
        display: none;
        padding: 20px 0 0 20px;
    }

    .activities-content h3 {
        font-size: 25px;
    }

    .active-more {
        font-size: 10px;
        padding: 13px 0;
    }

    .activities-preschool-active .active-more {
        left: 40%;
    }
}

@media screen and (max-width: 530px) {
    .activities-header {
        padding: 10px 0;
        font-size: 36px;
    }

    .active-list {
        display: none;
        padding: 20px 0 0 50px;
    }

    .activities-item {
        margin-bottom: 13px;
    }

    .activities-content h3 {
        font-size: 14px;
    }

    .active-more {
        padding: 5px 0;
        bottom: 50px;
    }

    .activities-preschool-active .active-more {
        left: 20%;
    }
}
