#callback {
    background: url('../assets/images/callback-background.png') top no-repeat,
                #F7F2F2;
    background-size: contain;
    padding-bottom: 67px;
    position: relative;
}

.callback-header {
    padding: 110px 0 0;
    margin: 0;
    @include header-h1;
    text-align: center;
    z-index: 3;
    position: relative;
}

.callback-questions {
    @include text1;
    text-align: center;
    z-index: 3;
    position: relative;
}

.callback-container {
    display: flex;
    justify-content: space-around;
    width: 62%;
    margin: 0 auto;
}

.callback-form {
    background: url('../assets/images/puzzle1.png') no-repeat;
    background-size: contain;
    width: 694px;
    height: auto;
    z-index: 2;
}

.callback-map {
    position: relative;
    cursor: pointer;
}

.callback-details {
    position: absolute;
    top: 175px;
    left: -120px;
    width: 424px;
    background: rgba(255, 255, 255, 0.5);
    border: 5px solid #FFE6A1;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    border-radius: 28px;
}

.callback-details p {
    @include text2;
    padding-left: 65px;
    position: relative;
}

.callback-address::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 17px;
    background: url('../assets/images/placeholder-icon.png') no-repeat;
    width: 34px;
    height: 34px;
}

.callback-phone::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 17px;
    background: url('../assets/images/phone.png') no-repeat;
    width: 34px;
    height: 34px;
}

.callback-mail::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 17px;
    background: url('../assets/images/mail.png') no-repeat;
    width: 34px;
    height: 34px;
}

.callback-image {
    width: 510px;
    height: auto;
    margin-left: -150px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 30% 272px 45px 75px;
}

.input-form {
    @include text2;
    padding: 7px 0 7px 7px;
    margin-bottom: 13px;
    border-radius: 5px;
    border: none;
}

.submit-button {
    @include button;
    text-transform: uppercase;
    padding: 12px 93px 14px 102px;
    margin: 0 auto;
    margin-top: 13px;
    box-shadow: 5px 5px 10px rgba(62, 60, 60, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.1);
    background: #FF6F3C;
    border-radius: 10px;
    border: none;
    width: 287px;
    box-sizing: border-box;
}

.map-big {
    display: none;
}

.map--active {
    display: block;
}

#map {
    width: 1440px;
    position: fixed;
    left: 15%;
    top: 50px;
    z-index: 100;
}

#map iframe {
    overflow: hidden;
    border: 5px solid #FCD462;
    border-radius: 30px;
}

.map-button {
    background: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 5px;
}

@media screen and (max-width: 1700px) {
    #map {
        left: 5%;
        top: 20px;
        width: 1400px;
        height: 600px;
    }

    #map iframe {
        width: 1400px;
        height: 600px;
    }

    .map-button {
        right: 45px;
    }

    .callback-image {
        width: 470px;
        height: auto;
        margin-left: -150px;
    }
}

@media screen and (max-width: 1420px) {
    #map {
        left: 5%;
        top: 20px;
        width: 1000px;
        height: 500px;
    }

    #map iframe {
        width: 1000px;
        height: 500px;
    }
}

@media screen and (max-width: 1015px) {
    #callback {
        background: url('../assets/images/callback-mini.png') top no-repeat,
                    #F7F2F2;
        background-size: contain;
        padding-bottom: 20px;
    }

    .callback-header {
        padding: 20px 0 0;
    }

    .callback-container {
        width: 100%;
    }

    .callback-form {
        background: url('../assets/images/puzzle1-mini.png') no-repeat;
        background-size: contain;
        width: 335px;
    }

    .form {
        padding: 140px 40px 30px;
    }

    .input-form {
        font-size: 14px;
        padding: 7px 0 2px 4px;
        margin-bottom: 10px;
        border-radius: 0;
        border: none;
    }

    .submit-button {
        font-size: 16px;
        padding: 12px 72px 14px 80px;
        width: 244px;
    }

    .callback-image {
        width: 350px;
        margin-left: 0
    }

    .callback-details {
        top: 120px;
        left: 20px;
        width: 230px;
    }
    
    .callback-details p {
        font-size: 14px;
        padding-left: 50px;
        margin: 3px 0;
        position: relative;
    }
    
    .callback-address::before {
        top: 5px;
        background-size: contain;
        width: 21px;
        height: 21px;
    }
    
    .callback-phone::before {
        top: -3px;
        background-size: contain;
        width: 21px;
        height: 21px;
    }
    
    .callback-mail::before {
        top: -3px;
        background-size: contain;
        width: 21px;
        height: 21px;
    }

    #map {
        width: 325px;
        height: 325px;
        right: 5%;
        top: 50px;
    }

    #map iframe {
        width: 325px;
        height: 325px;
    }

    .map-button {
        right: 0;
    }

    .map-close {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 700px) {
    .callback-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 400px) {
    .callback-header {
        font-size: 36px;
    }
    
    .callback-questions {
        font-size: 14px;
    }

    .callback-container {
        margin-top: -100px;
    }

    .callback-image {
        margin-top: -130px;
        width: 335px;
    }

    .callback-details {
        top: -5px;
    }
}